.topbar {
    width: 100%;
    border: 1px solid #efefef;
    font-size: 26px;
    position: fixed;
    background-color: #ffffff;
    padding: 10px;
    z-index: 9999;
}

.barcontainer {
    width: 970px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barcontainer img {
    width: 103px;
    height: 29px;
    padding-left: 15px; 
    border-left: 1px solid #000;
}

.fa-instagram {
    font-size: 24px;
    padding-right: 20px; 
}

.searchinput {
    margin-top: -8px;
    margin: 0 auto;
    background: #fafafa;
    border: solid 1px #dbdbdb;
    width: 200px;
    border-radius: 3px;
    color: #999;
    cursor: text;
    font-size: 14px;
    font-weight: 300;
    left: 0;
    padding: 7px;
    text-align: center;
    top: 0;
    z-index: 2;

}

.searchinput input {
    border: none;
    text-align: center;
    background: #fafafa;
}



.searchinput input:focus {
    text-align: left;
    border: none;
    outline: none;
}


.fa-heart, .fa-compass, .fa-user {
    font-size: 23px;
    padding: 10px;
    color: #262626;
}