.post-container {
    width: 970px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
 
}

.profile-img {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    width: 616px;
}

.profile-img img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 15px;
    color: #262626;
}

.ind-post {
    background-color: #ffffff;
    width: 616px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    margin-bottom: 60px;
}

.post-img img {
    width: 616px;
}

.commentsection {
    padding: 0 20px 20px;
}
.comment-text {
    font-size: 14px;
    line-height: 10px;
}

.comment-text strong {
    margin-right: 10px;
}


.profile-holder {
    position: fixed;
    margin-left: 635px;
    margin-top: 95px;
  }

  .profile-holder img {
      width: 100%;
      height: auto;
  }